body {
    font-family: 'Times New Roman', Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    width: 80%;
    background-color: antiquewhite;
}

#title {
    background-color: green;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    color: orange;
    font-style: italic;
}

/*.recipe-name {
    background-color: rgb(224, 154, 61);
    border: 2px solid rgb(6, 102, 6);
    margin: auto;
    height: 50px;
    padding: 10px 10px 10px 10px;
}*/    

.recipe-name,
.generic {
    color: green;
    font-size: 30px;
    font-weight: bold;
    text-align: left;       
}

.para {
    font-family: Arial, Helvetica;   
    font-size: 20px; 
}

.item {
    font-style: italic;
    font-size: 18px;
}

.imagen {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mini {
    text-indent: 3%;
}

.rec {
    display: inline;
    margin: 50px 50px 50px 50px;
}

.text1 {
    font-size: 20px;
    margin: 20px 30px 0 30px;
}

span {
    display: inline-block;
    background-color: aquamarine;
}
/*
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .box {
    box-sizing: border-box;
  }
  */

  .recipe-container {
    background-color: #b67016;  /* Blue */
    padding: 10px 5px;
    display: flex;
    /*width: 900px;*/
    /*justify-content: space-around;*/
    border: 3px solid rgb(8, 80, 23);
    margin: auto; 
    /*flex-wrap: wrap;*/
    gap: 1rem;
    
  }

  .recipe-container > div {
    border: 1px solid #fff;  /* For debugging */
    font-size: 30px;
    text-align: center;
    flex: 1;
    min-width: 0px;
  }
  
  /*.carbonara {
    border: 1px solid #fff;  /* For debugging *
    font-size: 30px;
    text-align: center;
  }

  .mazamorra {
    border: 1px solid #fff;  /* For debugging *
    font-size: 30px;
    text-align: center;
  }

  .gulab {
    border: 1px solid #fff;  /* For debugging *
    font-size: 30px; 
    text-align: center;
  }*/
